
/* Estilos generales */

html {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}


/* Menú header*/

a{
    text-decoration: none !important;
    color: white !important;
}
  
a:hover{
    color: #2c9b44 !important;
}
  
a:active{
    color: white;
}


header.main-header{
    white-space: nowrap;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    color: white;

}
 
.header-wrap{
    display: flex;
    justify-content: space-betweeen;
    padding: 1rem;
    background-color: rgba(53,58,64,255);
    z-index: 999;
}

.wrap-logo-header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

.logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: 222;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-wrap-header{
    display:flex;
    flex-basis:50;
}

ul.main-menu {
    display: flex;
    width: 100%;
    z-index: 99%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 1.1rem;
    color: white;
}

ul.main-menu #nav-main-contact {
    display: flex;
    align-items: center;
    padding: .5rem 1 rem;
    background-color: FFC300;
    color: fff;
}

li.menu-item {
    margin: .75rem;
    display: flex;
}

li.menu-item {
    padding: 5rem 1 rem;
    color: 222;
}

li.menu-irem a:hover {
    color: lime;
}

i.toggle-menu {
    display:none;
    background-color: fff;
    border: none;
    z-index: 9999;
}

i.toggle-menu img {

    width: 27px;
    z-index: 99;
}

input#check{
    display: none;
}

@media (min-width:880px){
    .header-wrap {
        padding: .5rem 5 rem;
    }
}

@media (max-width 768px) {
    header {
        margin-bottom: 4rem;
    }


    .header-wrap{
        position: fixed;
        width: 100px;
        background-color: fff;
        padding: 0;
        top: 0;
        z-index: 9999;
        height: 60px;
    }

    .wrap-logo-header {
        position: fixed;
        z-index: 999;
        top: 3%;
        left: 3%;
    }

    i.toggle-menu {
        display: flex;
    }

    ul.main-menu,#nav-main-contac{
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
    }

    ul.main-menu {
        position: fixed;
        background-color: fff;
    }

    label.chechbtn {
        position: ficxed;
        right: 3%;
        top: 3%;
        z-index: 9999;
    }

    #check:checked ~ ul {
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
    }
}

.main-header{
    background-color: rgb(48, 49, 56);
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 2px;
    font-size: small;
    color:white;
    width: 100%;

}

.banner{ 
    align-content:center;
    width:100% !important;
    display: inline-block;
    text-align: end;
}

.textosobreimagen {
    position:absolute;
    bottom: 80px;
    right: 50px;
    color: white;
    font-size: normal;
    text-align: end;
    margin: 20px;
}


/*BOTONES*/
.botonjava{
    border-color: rgb(226, 179, 49);
    border-width: 1px;
    border-style: solid;
    margin: 2px;   
    padding: 2px;
    background-color: rgb(226, 179, 49);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.botonreact{
    border-color: rgb(40, 157, 204);
    border-width: 1px;
    border-style: solid;
    margin: 2px;   
    padding: 2px;
    background-color: rgb(40, 157, 204);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.botonnegocios {
    border-color: rgb(73, 79, 82);
    border-width: 1px;
    border-style: solid;
    margin: 2px;   
    padding: 2px;
    background-color: rgb(73, 79, 82);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.botonstart {
    border-color: rgb(192, 44, 64);
    border-width: 1px;
    border-style: solid;
    margin: 2px;   
    padding: 2px;
    background-color: rgb(192, 44, 64);
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.botonorador {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    margin: 5px;   
    padding: 5px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.comprartickets {
    margin: 5px;   
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.botonenviar{
    padding: 10px 200px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*FIN BOTONES*/

/*ENLACES*/

.honolulu-img{
    filter: brightness(50%);
}

.link {
    color:white;
}

.link:hover {
    color:lime;
}

.parrafo {
    font-size:medium;
}


.enlacesuperior:hover {
    color:rgb(36, 136, 36);
    border-bottom: 1px solid;

}

.card-group {
    padding-left: 15rem;
    padding-right: 15rem;
}




.flex-column {
    display: flex;
    flex-direction: row;
}

.honolulu {
    flex: 1;
}


.octubre{
    display: block;
    background-color: #343434;
    color: white;
    flex: 1;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}

p {
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.parrafo {
    align-items: center;
    display: flex;
    width: 49%;
    float: inline-end;
    flex: 1;
}

.conoce{
    text-align: center;
    font-size:medium;
}

.conviertete {
    text-align: center;
    font-size:medium;
}



.pie-pagina {
    height: 5em;
    width: 100%;
    background-color: rgba(31,82,113,255);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
    font-size: small;
    color:white;
}